/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  border: 0;
  text-decoration: none;
  list-style-type: none;
}

/* Variables */
:root {
  --dark-blue: #1d3557;
  --whiteish: #f1faee;
  --dark-blue-rbg: 29, 53, 87;
  --red: #e63946;
  --light-blue: #457b9d;
}

/* General */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  font: 100 16px "Roboto";
  color: var(--whiteish);
  position: relative;
}

/* Utility */

.mb-1 {
  margin-bottom: 1em !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.hidden {
  display: none;
}

.highlighted {
  color: var(--red);
  font-weight: 300;
}

/* Typography */

h1,
h2,
h3 {
  font-weight: 100;
}

h1 {
  font-size: 4em;
}

h1 span {
  font-weight: 100;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 3em;
  font-weight: 100;
}

a {
  color: inherit;
}

/* Sidebar */

header.sidebar {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  background: var(--dark-blue);
  height: 100vh;
  flex-basis: 300px;
  min-width: 300px;
  text-align: center;
  padding: 50px 0;
}

header.sidebar a {
  color: inherit;
  font-weight: 100;
  font-size: 1.5em;
}

header.sidebar a:hover,
.content a:hover {
  transition: ease-in 0.1s;
  color: var(--red);
}

header.sidebar .profile-pic {
  height: 250px;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 5px 5px 15px 0px rgb(0, 0, 0);
}

header.sidebar .profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 -5%;
  transform: scale(1.3);
}

header.sidebar nav {
  display: flex;
  height: 20vh;
  flex-direction: column;
  flex: 2;
  justify-content: space-around;
  padding: 50px 0 100px 0;
  padding: 3em 0 9em 0;
}

.icons > a {
  padding-right: 20px;
}

header.sidebar .active_menu {
  color: var(--red);
  font-weight: 300;
}

/* Content general rules */

.content {
  position: relative;
}

#portfolio,
#landing,
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 100%;
  max-height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgba(var(--dark-blue-rbg), 1) 50%,
    rgba(var(--dark-blue-rbg), 0.7)
  );
}

.content .menu {
  display: none;
}

.code {
  color: var(--red);
  font-weight: 300;
}

.code::before,
.code::after {
  color: var(--light-blue);
  font-weight: 100;
}

.code::before {
  content: "<";
}

.code::after {
  content: " />";
}

.cta {
  display: inline-block;
  width: 250px;
  background: var(--red);
  color: var(--whiteish);
  padding: 20px 0;
  font-weight: 700;
  box-shadow: 0px 10px 20px 0px var(--dark-blue);
  outline: none;
  transition: linear 0.2s;
  cursor: pointer;
  margin-right: 20px;
}

.cta:hover {
  transform: scale(0.9);
}

/* Landing */

#landing {
  background: linear-gradient(
      to right,
      rgba(var(--dark-blue-rbg), 1),
      rgba(var(--dark-blue-rbg), 0.8) 80%,
      rgba(var(--dark-blue-rbg), 0.5)
    ),
    url("./img/hero.jpg") no-repeat center/cover;
}

/* Portfolio */

.project-img {
  max-height: 67vh;
  flex: 2;
  transition: ease-in 0.4s;
  z-index: 2;
}

.cta.read-more {
  margin: 50px auto;
  z-index: 3;
}

.project-img:hover {
  transform: scale(1.1);
}

.project-img:hover + .cta.read-more {
  display: block;
}

.projects {
  width: 100%;
  height: 100%;
}

.project {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease-in 0.5s;
}

.project.active {
  opacity: 1;
}

/* Slider */

.fa-chevron-left,
.fa-chevron-right {
  font-size: 3em;
  position: absolute;
  top: 50%;
  color: var(--light-blue);
  z-index: 1;
  transition: linear 0.2s;
}

.fa-chevron-left {
  left: 5rem;
}

.fa-chevron-right {
  right: 5rem;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  color: var(--red) !important;
}

.fa-chevron-left:hover {
  transform: translateX(-10px);
}

.fa-chevron-right:hover {
  transform: translateX(10px);
}

.dot {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--red);
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: ease-in 0.2s;
  margin-bottom: 2rem;
  margin-left: 5px;
  z-index: 3;
}

.dot:hover {
  background: var(--red) !important;
}

.active_dot {
  background: var(--red);
}

/* Overlay */

.overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--dark-blue-rbg), 0.95);
  z-index: 10;
}

.overlay p {
  margin: 20% 10% 100px;
}

.overlay .links {
  display: flex;
  justify-content: space-around;
  font-size: 3em;
  padding: 0 20%;
}

.overlay .links a {
  font-weight: 100;
}

/* About */

#about {
  text-align: center;
}

#about p {
  padding: 0 4em;
  flex: 2;
  /* max-width: 60vw; */
}

/* Media queries */

@media (max-width: 992px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1em;
  }
  header.sidebar {
    min-width: 200px;
    max-width: 200px;
  }
  header.sidebar .profile-pic {
    width: 150;
    height: 200;
  }
}

@media (max-width: 768px) {
  header.sidebar {
    max-width: 0px;
    min-width: 0px;
    visibility: hidden;
  }

  #landing .menu {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    cursor: pointer;
  }
}
